/* CSS Document */

.homeLogo {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.clearFloat {
    clear: both
}


#sendQuestionResults {
    display: none;
}

.ui-content {
    font-size: 0.85em;
    line-height: 1.3;
}

.questionsTopic h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.questionsTopic .ui-block-a, .bff .ui-block-a {
    text-align: right;
    padding-right: 10px;
}

.questionsTopic h3, .bff h3 {
    margin-bottom: 5px;
}

.questionsTopic .ui-block-a h4, .bff .ui-block-a h4  {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.0;    
}

.seeAll {
    font-size: 75%;
    line-height: 1.0;
}

.questionsTopic .ui-grid-a, .bff .ui-grid-a {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #EEEEEE;
}

/* DIVA Color Scheme */
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: #9F3ED5;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited
{   
    color: #7109AA;
}
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a
{
    color: #7109AA;
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
background-color: #AA66D5;
border-color: #AA66D5;
color: #FFF;
text-shadow: 0 1px 0 #059;
}

a.swipebox {
    background-color: #eeeeee;
    padding: 5px;
    display:inline-block;
}


