<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.divasforsocialjustice.mysisterskeeper"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>My Sister's Keeper</name>

    <description>
Welcome to the My Sister's Keeper App! This app provides a platform for a global community of girls to receive loving affirmations and answers about the questions they ask themselves growing up. 

Not everyone has a positive maternal confidant to guide them and this app will help provide you with a few virtual BFF's (Best Friend Forever) which will help you recognize women in your life who want to be there for you. 

The My Sister's Keeper App is made possible by DIVAS for Social Justice. DIVAS (Digital Interactive Visual Arts Sciences) for Social Justice encourages and trains girls living in underserved communities in New York City to use technology for social change.
    </description>

    <author href="https://www.divasforsocialjustice.org" email="mysisterskeeper@divasforsocialjustice.com">
        DIVAS for Social Justice 
    </author>

    <preference name="phonegap-version" value="3.3.0" />
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <preference name="target-device" value="handset" />
       
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="OpenAllWhitelistURLsInWebView" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
        
    <!-- Enabling access to all external resources, to see if it fixes Android issues with YouTube videos -->
    <access origin="*" />
    
    <!--
    <access origin="http://youtube.com" subdomains="true" />
    <access origin="https://youtube.com" subdomains="true" />

    <access origin="http://ytimg.com" subdomains="true" />
    <access origin="https://ytimg.com" subdomains="true" />
        
    <access origin="http://murraycox.com" subdomains="true" />

    <access origin="http://divasforsocialjustice.org" subdomains="true"  />
    -->
        
    <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
    
    <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <!-- Disable Auto-Hide so we can leave the splash screen up a few seconds -->
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <!-- Disable auto hide splash on iOS -->
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />    
    <!-- Disabling auto hide splash screen on Android doesn't work, so set it to a long duration -->
    <preference name="SplashScreenDelay" value="10000"/>
    
    <gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
    <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1536" />
    <gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2048" />
        
    <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- at least 426 x 320 -->
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- at least 470 x 320 -->
    <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- at least 640 x 480 -->
    <gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- at least 960 x 720 -->
            
</widget>
